.pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

canvas {
  cursor: url('/eraser_icon.cur'), auto;
}

.textLayer {
  color: transparent;
  user-select: text;
  pointer-events: auto;
  background: none !important;
}

.textLayer span {
  position: absolute;
  white-space: pre;
  transform-origin: 0 0;
  pointer-events: auto;
  user-select: text;
}

.textLayer span::selection {
  background: rgba(0, 100, 255, 0.3) !important;
  color: inherit;
}